


<div align = "center">

     <div id = "box-login" class = "card">
         <div class = "espaco">

       
          <h2>Login </h2>
          <div class = "linha"></div>

          <label style = "text-align: left;"  class="form-label">Usuário: </label>
          <input type="text" class="form-control" name = "usuario" [(ngModel)] = "userLogin.login">
            <br>
          <label style = "text-align: left;"  class="form-label">Senha: </label>
          <input type="password" class="form-control"  name = "senha" [(ngModel)] = "userLogin.senha">
           <Br>
        
          <button type="button" style = "width: 100%;" class="btn btn-primary"  (click) = "logar()" >Logar</button>
     
        </div>

        <div class = "cadastro">
            <div class = "row">
                <div class="col-7">
                    <p style = "text-align: right; margin-top: 5px;">Ainda não tem cadastro?</p>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-outline-primary">Cadastre-se</button>
                  </div>
              
            </div>
            
        </div>
     </div>


</div>